* {
    padding: 0;
    margin: 0;
}

header {
    height: 60px;
}

header nav ul {
    display: flex;
    margin-right: 50%;
    list-style: none;
}

header nav ul li {
    padding-top: 2%;
    padding-left: 10%;
    font-size: 1.5em;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: black;
}

section {
    height: 100vh;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container img {
    height: 300px;
    border-radius: 50%;
}

.Container h2 {
    margin-top: 2%;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
}

.Container h3 {
    margin-top: 2%;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
}

.Container p {
    margin-top: 2%;
    font-size: 1rem;
}

.add-delete-button {
    font-size: 10px;
    color: black;
}

.clear-button {
    float: right;
}

table {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

input {
    width: 80%
}

td {
    padding: 5px;
    text-align: center;
}

th {
    padding: 5px;
    text-align: center;
}

footer {
    line-height: 40px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}